<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="app.domain.Student" />
		<mapping class="app.domain.Discipline"/>
		<mapping class="app.domain.Term"/>
<!-- 		<mapping class="app.domain.Score"/> -->
	</session-factory>
</hibernate-configuration>